*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: r#080808;     
}

li:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: auto;
}

.salvar-contatos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-weight: bold;
    border: 10px;
    color: rgb(251, 0, 0);
    padding: 8px 10px;
    border-radius: 5px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #faf6f6;
} 

.button:hover {
    background-color: white;
    color: red;
}


